<ion-view view-title="About">
  <ion-content has-bouncing="false" style="background-color:#f5f5f5;">
    <div class="list">
    	<div class="item item-divider">
    		Participants
  		</div>
        <a class="item item-avatar" href="">
          <img src="img/lin-teacher.jpg">
          <h2>CHENG-HUNG LIN</h2>
          <p>Professor</p>
        </a>

        <a class="item item-avatar" href="">
          <img src="img/liao.jpg">
          <h2>CHUNG-YU LIAO</h2>
          <p>Graduate Student, Art Director</p>
        </a>

        
        <a class="item item-avatar" href="">
          <img src="img/hsieh.jpg">
          <h2>CHENG-HUNG HSIEH</h2>
          <p>Graduate Student</p>
        </a>

        <a class="item item-avatar" href="">
          <img src="img/lin.jpg">
          <h2>YONG-XIN LIN</h2>
          <p>Graduate Student</p>
        </a>


        <a class="item item-avatar" href="">
          <img src="img/zhong.jpg">
          <h2>CHUNG YANG</h2>
          <p>Student</p>
        </a>


    </div>
  </ion-content>
</ion-view>
